<div class="hero row">
    <div class="hero-text col">
        <h1>Contact Us</h1>
    </div>
    <div class="hero-img col">
        <img src="../images/amico.svg" alt="hero-image">
    </div>
    
</div>
</header>