<div class="container-form">
  <h2>Get In Touch</h2>
  <p>Feel free to drop us a line below</p>
  <form id="contactForm">
    <div class="input-icon">
      <i class="fa fa-user icon"></i>
      <input type="text" placeholder="Full Name" class="input-field" name="fullname" id="fullName" required/>
    </div>
    <div class="input-icon">
      <i class="fa fa-envelope icon"></i>
      <input type="text" placeholder="Email" class="input-field" name="mail" id="mail" required/>
    </div>
    <div>
      <textarea name="message" cols="30" rows="10" placeholder="Drop your message here" id="message" required></textarea>
    </div>
    <button type="submit">Send</button>
  </form>
</div>
