<!-- section 2 -->
<section class="values">
    <h1>Our Core <span class="span">Values</span></h1>
    <div class="row">
        <div class="badges1">
            <h3>Transparency</h3>
            <p>We believe in transparency and honesty when engaging with our clients. And we would always be honest when rendering our services</p>
        </div>
        <div class="badges2">
            <h3>Commitment</h3>
            <p>We believe in transparency and honesty when engaging with our clients. And we would always be honest when rendering our services</p>
        </div>
        <div class="badges3">
            <h3>Professionalism</h3>
            <p>We believe in transparency and honesty when engaging with our clients. And we would always be honest when rendering our services</p>
        </div>
    </div>
</section>