<section class="intro row">
    <div class="intro-img">
    <img src="/images/who-we.jpg" alt="people">
    </div>
    <div class="intro-text">
    <h2>Who We Are</h2>
    <p>
        We improve lives and strengthen communities by honoring the mind, body and spirit in equal measure. 
        We understand that the way care is provided is as meaningful as the care itself, 
        that's why we listen to and connect with every patient we serve.
        Then, now and always.
    </p>
    <div class="link">
    <a href="/about" class="intro-link">About us </a> <span>&#8594;</span>
    </div>
</div>
</section>