<div class="partners">
  <h3 class="partner-text">PARTNERS</h3>
  <div class="row partner-img">
    <div><img src="/images/rush.jpg" alt="rush" /></div>
    <div><img src="/images/luth.jpg" alt="luth" /></div>
    <div><img src="/images/Lagoon-Hospitals-Logo.jpg" alt="lagoon" /></div>
    <div><img src="/images/Mayo-Clinic-Logo.jpg" alt="Mayo" /></div>
  </div>
</div>
