<section class="clients">
    <h2>What Our Clients Have to say</h1>     
<div class="row services-badges">  
    <!-- testimonials data pack {article, name, location, image}-->
    <div class="badges2">
    <p><span class="apostrophe">"</span>Thank you for this wonderful site. My six siblings and I are using it to coordinate and communicater care for our elderly mother in New York state. We are scattered accross the East Coast and Midwest. 
        This site enables us to schedule tasks and keep everyone informed without having to exchange endless phone calls and emails.<span class="apostrophe">"</span></p>
        <div class="badges2-p">
        <h3>Christine</h3>
        <p>Ikeja</p>
        </div>
        <div class="badges2-img">
        <img src="/images/christine.jpg" alt="christine">
        </div>  
    </div>

    <div class="badges2">
         <p><span class="apostrophe">"</span>Thank you for this wonderful site. My six siblings and I are using it to coordinate and communicater care for our elderly mother in New York state. We are scattered accross the East Coast and Midwest. 
            This site enables us to schedule tasks and keep everyone informed without having to exchange endless phone calls and emails.<span class="apostrophe">"</span></p>
            <div class="badges2-p">
            <h3>Akande</h3>
            <p>Ibadan</p>
            </div>
            <div class="badges2-img">
            <img src="/images/akande.jpg" alt="akande">
            </div>
        </div>

        <div class="badges2">
            <p><span class="apostrophe">"</span>Thank you for this wonderful site. My six siblings and I are using it to coordinate and communicater care for our elderly mother in New York state. We are scattered accross the East Coast and Midwest. 
                This site enables us to schedule tasks and keep everyone informed without having to exchange endless phone calls and emails.<span class="apostrophe">"</span></p>
                <div class="badges2-p">
                <h3>Steph</h3>
                <p>Owerri</p>
                </div>
                <div class="badges2-img">
                <img src="/images/steph.jpg" alt="steph">
                </div>
            </div>
</div>
    </div>
    <div class="badges-link">
    <a href="/news/testimonials" class="badges--link">Read More</a> <span>&#8594;</span>
    </div>
</section>