<div class="row container">
 <!-- contact details --><%- include ('./details.ejs') -%>
  <div >
    <!-- icons --><%- include ('./icons.ejs') -%>
    <!-- contact form --><%- include ('./form.ejs') -%>
  </div>
</div>
