<div class="col">
  <div class="container-text">
    <h2>Contact Details</h2>
    <div class="input-icon">
      <i class="fa fa-phone container-icon"></i>
      <p>0704 000 000</p>
    </div>
    <div class="input-icon">
      <i class="fa fa-map-marker container-icon"></i>
      <p>15 Bucknor Street, Ajao Estate. Lagos, Nigeria.</p>
    </div>
  </div>
</div>
