<div class="container-form col">
  <h2>Get In Touch</h2>
  <p>Feel free to drop us a line below</p>
  <form action="/contact" method="POST" enctype="multipart/form-data">
    <div class="input-icon">
      <i class="fa fa-user icon"></i>
      <input type="text" placeholder="Full Name" class="input-field" name="fullname"/>
    </div>
    <div class="input-icon">
      <i class="fa fa-envelope icon"></i>
      <input type="text" placeholder="Email" class="input-field" name="mail"/>
    </div>
    <div>
      <textarea name="message" id="" cols="30" rows="10" placeholder="Drop your message here"></textarea>
    </div>
    <button type="submit">Send</button>
  </form>
</div>
