<%- include ('../header/header.ejs', {styles: "/styles/contact.css"}) -%>
<%- include ('./components/banner.ejs') -%>
<main>
    <%- include ('./components/contact-tab.ejs') -%>
</main>
<%- include ('../footer/footer.ejs', {src: "/scripts/contact.js"}) -%>