<section class="blog-post">
    <div class="blog">
    <h2>EasyCare Blog</h2>
    <p>Health related articles for healthy living</p>
</div>
    <div class="row">
        <!-- data pack {image, date, title, link} -->
        <div class="badges3">
            <img src="/images/eldeerly.jpg" alt="elderly">
            <div class="badges3-text">
                <p class="badges3-date">10 Jun, 2021</p>
                <p class="badges3--text">How to keep aging parents happy during this pandemic</p>
                <a href="/news/newsid">Read More</a>
            </div>
        </div>

        <div class="badges3">
            <img src="/images/care.jpg" alt="care">
            <div class="badges3-text">
                <p class="badges3-date">21 Aug, 2021</p>
                <p class="badges3--text">Corona virus: It's effects on the elderly ones.</p>
                <a href="/news/newsid">Read More</a>
            </div>
        </div>
        <div class="badges3">
            <img src="/images/healthy-food.jpg" alt="food">
            <div class="badges3-text">
                <p class="badges3-date">15 Feb, 2021</p>
                <p class="badges3--text">Eating healthy to keep fit and live longer</p>
                <a href="/news/newsid">Read More</a>
            </div>
        </div>
        
    </div>

</section>
</div>