<main>
    <div class="hero">
        <div class="hero-text">
        <h1>Connect to the best caregivers through us</h1>
        <p>We've provided a way for you to reach proficient carers easier and faster without stress</p>
            <div class="btn">
                <a href="/contact" class="hero-btn">Contact Us</a> <!--contact page link missing -->
            </div>
        </div>
        
    </div>
</header>
<div class="main">