<section class="services">
  <h3 class="services-text">WHY CHOOSE US</h3>
  <h2>Exceptional Health Care Service</h2>
  <p class="services-p">
    We have taken our time and energy to curate and categorize our partners into
    specific speacialties in care giving to make it easier for you to get what
    you want.
  </p>
  <div class="row services-badges">
    <div class="badges">
      <img src="images/qualified-partner.jpg" alt="qualified partners" />
      <p class="badges-text">Qualified Partners</p>
      <p>
        Our partners are qualified companies, and we help you get connected to
        their caregivers
      </p>
    </div>

    <div class="badges">
      <img src="/images/dashboard.jpg" alt="dashboard" />
      <p class="badges-text">Simple Dashboard</p>
      <p>
        See your medical stats, activities and potential care giver on a single
        screen
      </p>
    </div>

    <div class="badges">
      <img src="/images/communication.jpg" alt="communication" />
      <p class="badges-text">Better Communication</p>
      <p>
        Connect with your care giver and have conversations before physical
        meeting
      </p>
    </div>
  </div>
</section>
