<section class="accordion">
  <h3 class="accordion-title">General Questions</h3>
  <div class="accordion-text">
    <div class="accordion-row" id="question1">
      <a href="#question1" class="accordion-link">
        Who is EasyCare?
        <i class="fa fa-plus"></i>
        <i class="fa fa-minus"></i>
      </a>
      <div class="answer">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
          accusamus aspernatur molestias ab quasi voluptate nemo perspiciatis
          iure consequatur rem.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-text">
    <div class="accordion-row" id="question2">
      <a href="#question2" class="accordion-link">
        What do they do?
        <i class="fa fa-plus"></i>
        <i class="fa fa-minus"></i>
      </a>
      <div class="answer">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
          accusamus aspernatur molestias ab quasi voluptate nemo perspiciatis
          iure consequatur rem.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-text">
    <div class="accordion-row" id="question3">
      <a href="#question3" class="accordion-link">
        Are they trusted and reliable?
        <i class="fa fa-plus"></i>
        <i class="fa fa-minus"></i>
      </a>
      <div class="answer">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
          accusamus aspernatur molestias ab quasi voluptate nemo perspiciatis
          iure consequatur rem.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-text">
    <div class="accordion-row" id="question4">
      <a href="#question4" class="accordion-link">
        Are the caregivers well experienced?
        <i class="fa fa-plus"></i>
        <i class="fa fa-minus"></i>
      </a>
      <div class="answer">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
          accusamus aspernatur molestias ab quasi voluptate nemo perspiciatis
          iure consequatur rem.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-text">
    <div class="accordion-row" id="question5">
      <a href="#question5" class="accordion-link">
        Are the services affordable?
        <i class="fa fa-plus"></i>
        <i class="fa fa-minus"></i>
      </a>
      <div class="answer">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
          accusamus aspernatur molestias ab quasi voluptate nemo perspiciatis
          iure consequatur rem.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-text">
    <div class="accordion-row" id="question6">
      <a href="#question6" class="accordion-link">
        Can I trust my old folk in their care even when I am not around?
        <i class="fa fa-plus"></i>
        <i class="fa fa-minus"></i>
      </a>
      <div class="answer">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
          accusamus aspernatur molestias ab quasi voluptate nemo perspiciatis
          iure consequatur rem.
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-text">
    <div class="accordion-row" id="question7">
      <a href="#question7" class="accordion-link">
        What services do they provide?
        <i class="fa fa-plus"></i>
        <i class="fa fa-minus"></i>
      </a>
      <div class="answer">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
          accusamus aspernatur molestias ab quasi voluptate nemo perspiciatis
          iure consequatur rem.
        </p>
      </div>
    </div>
  </div>

  <div class="accordion-text">
    <div class="accordion-row" id="question8">
      <a href="#question8" class="accordion-link">
        How do I get in contact with them?
        <i class="fa fa-plus"></i>
        <i class="fa fa-minus"></i>
      </a>
      <div class="answer">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
          accusamus aspernatur molestias ab quasi voluptate nemo perspiciatis
          iure consequatur rem.
        </p>
      </div>
    </div>
  </div>
</section>
