<%- include ('../header/header.ejs', {styles: "/styles/services.css"}) -%>
<div class="Offer">
    <div class="Offer-text">
    <h1>What we offer</h1>
    </div>
</div>
</header>
<main>
<section>
<div class="row section-main">
    <div class="section-img">
        <img src="/images/medicalassistance.jpg" alt="caregiver-and-elderly-man">
    </div>
    <div class="section-text">
        <h2> Medical Assistance</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores beatae error id recusandae suscipit inventore? Recusandae, accusamus! Provident explicabo voluptatibus fugit, eveniet error at ullam qui, possimus repudiandae sint minima beatae similique, facilis quas? Vel explicabo ipsa ipsam, labore consectetur sint impedit dolore at reiciendis non commodi inventore porro dolores beatae optio recusandae iure vitae sunt atque delectus quis placeat id obcaecati. Quasi, aperiam ducimus. Eligendi iure, harum soluta ex suscipit odit hic perferendis quas, officiis obcaecati ab adipisci? Ratione officia dignissimos magnam beatae totam dolorum blanditiis quidem vero? Sed cupiditate blanditiis, animi officiis illo quibusdam deleniti corporis magnam ut?</p>
    </div>
</div>
</section>

<section>
<div class="row section-main">
    <div class="section-img">
        <img src="/images/shoppng.jpg" alt="woman-shopping">   
    </div>
    <div class="section-text">
        <h2> Shopping</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tempore dolores suscipit atque provident, ut error? Distinctio possimus deleniti suscipit cupiditate voluptas ratione exercitationem molestias magni hic obcaecati ipsam molestiae ullam aliquid quia nostrum rem fugit provident eaque earum autem, iste repellat in est repudiandae. Culpa facilis quod dicta, quia libero optio, reprehenderit velit rem labore ab aut consectetur doloribus assumenda ad dolorem et esse soluta voluptates in. Quae quidem laborum ipsam modi expedita accusantium repellat voluptate sint dicta cum magni fugit rerum hic iure blanditiis, esse maiores illum architecto fuga? Numquam saepe fugiat tempore dolor officia quaerat enim a!</p>          
    </div>
</div>
</section>

<section>
<div class="row section-main">
    <div class="section-img">
        <img src="/images/care.jpg" alt="meal-preparation">
    </div>
    <div class="section-text">
        <h2>Meal Preparation</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tempore dolores suscipit atque provident, ut error? Distinctio possimus deleniti suscipit cupiditate voluptas ratione exercitationem molestias magni hic obcaecati ipsam molestiae ullam aliquid quia nostrum rem fugit provident eaque earum autem, iste repellat in est repudiandae. Culpa facilis quod dicta, quia libero optio, reprehenderit velit rem labore ab aut consectetur doloribus assumenda ad dolorem et esse soluta voluptates in. Quae quidem laborum ipsam modi expedita accusantium repellat voluptate sint dicta cum magni fugit rerum hic iure blanditiis, esse maiores illum architecto fuga? Numquam saepe fugiat tempore dolor officia quaerat enim a!</p>          
    </div>
</div>
</section>

<section>
<div class="row section-main">
    <div class="section-img">
        <img src="/images/laundry.jpg" alt="laundry">
    </div>
    <div class="section-text">
        <h2>Laundry</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tempore dolores suscipit atque provident, ut error? Distinctio possimus deleniti suscipit cupiditate voluptas ratione exercitationem molestias magni hic obcaecati ipsam molestiae ullam aliquid quia nostrum rem fugit provident eaque earum autem, iste repellat in est repudiandae. Culpa facilis quod dicta, quia libero optio, reprehenderit velit rem labore ab aut consectetur doloribus assumenda ad dolorem et esse soluta voluptates in. Quae quidem laborum ipsam modi expedita accusantium repellat voluptate sint dicta cum magni fugit rerum hic iure blanditiis, esse maiores illum architecto fuga? Numquam saepe fugiat tempore dolor officia quaerat enim a!</p>          
    </div>
</div>
</section>

</main>
<%- include ('../footer/footer.ejs', {src: "/scripts/services.js"}) -%>