<!-- section 1 -->
<section class="hero">
  <h1>Frequently Asked Questions</h1>
  <p>
    We have curated and answered some questions our customers ask more often, or
    some things they would love to know.
  </p>
  <a href="/contact">ask a question</a>
  <!-- unsure link -->
</section>
