<!-- section 3 -->
<section class="contact">
  <h2 class="contact-head">Want to talk to a representative?</h2>
  <p class="contact-text">Call</p>
  <div class="input-icon">
    <i class="fa fa-phone"></i>
    <p>0704 000 000</p>
  </div>
  <p class="contact-text">Or</p>
  <div class="contact-icons">
    <a
      href="https://www.instagram.com/easycareng/"
      class="fa fa-instagram icon"
    ></a>
    <a
      href="https://web.facebook.com/easycareng"
      class="fa fa-facebook icon"
    ></a>
    <a href="#" class="fa fa-linkedin icon"></a>
    <a href="#" class="fa fa-twitter icon"></a>
  </div>
</section>
