<!-- fullname: String,
  email: String,
  dateJoined: String,
  phoneNumber: String,
  profilePicture: String,
  gender: String,
  city: String,
  state: String,
  address: String -->

  <h2 class="profile title">General information</h2>
  <form action="#" method="post">
      <label for="name">Full name</label>
      <!-- <input type="text" value="<%= user.fullname %> " name="fulllname" placeholder="fullname" minlength="8"> -->
  </form>