<section>
    <div class="row connect">
        <div class="connect-text">
            <p>Connect with us</p>
            <p class="connect-head">GET IN TOUCH</p>
            <a href="/contact" class="connect-btn">Contact Us</a>
        </div>
        <div class="subscribe">
            <p>SUBSCRIBE</p>
            <form>
                <div class="input-icon">
                <i class="fa fa-envelope icon"></i>
                <input type="text" placeholder="Email" class="input-field">
            </div>
                <a href="/subscribe" class="subscribe-btn"><button>Subscribe</button></a>

            </form>
        </div>

    </div>
</section>