<div class="header">
    <div class="hero">
        <h1>ABOUT US</h1>
        <p>We improve lives and strengthen communities by honoring the mind, body and spirit in equal measure. We understand that the way care is provided is as meaningful as the care itself, that's why we listen to and connect with every client we serve.</p>
    </div>
    <!-- section 1 -->
<div class="row mission">
    <div class="mission-statement">
        <h1>Our <span class="span">Mission</span></h1>
        <p>At EasyCare we are not just your go-between man, we want to be your preferred option and with our team of professionals we help offer value, choice and independence, enriching lives as we build and help you sustain awesome relationships.</p>
    </div>
    <div class="mission-female">
        <img src="../images/mission1.jpg" alt="woman">
        <img src="../images/mission2.jpg" alt="women" class="mission--female">
    </div>
    <div class="mission-hands">
        <img src="../images/mission3.jpg" alt="holding-hands">
    </div>
</div>

</div>
</header>