<section class="team">
    <div class="team-text">
    <h1>Meet Our <span class="span">Team</span></h1>
    <p>We provide you with professionals to serve you better</p>
</div>
    <div>
        <div class="row team-members">
            <div class="team-member-img">
                <img src="../images/richard.jpg" alt="founder">
                <h2>Richard Ambode</h2>
                <p>Founder</p>
            </div>
            <div class="team-member-img">
                <img src="../images/micheal.jpg" alt="manager">
                <h2>Micheal Chinedu</h2>
                <p>Manager</p>
            </div>
            <div class="team-member-img">
                <img src="../images/dr-jinadu.jpg" alt="medical-doctor">
                <h2>Dr. Jinadu Kayode</h2>
                <p>Medical Doctor</p>
            </div>
            <div class="team-member-img">
                <img src="../images/tolu.jpg" alt="HR">
                <h2>Tolu Christian</h2>
                <p>HR</p>
            </div>
        </div>

        <div class="row team-members">
            <div>
                <img src="../images/victoria.jpg" alt="public-relations">
                <h2>Victoria Okonkwo</h2>
                <p>Public Relations</p>
            </div>
            <div class="team-member-img">
                <img src="../images/stephanie.jpg" alt="care-service">
                <h2>Stephanie Bello</h2>
                <p>Care Service</p>
            </div>
            <div class="team-member-img">
                <img src="../images/iyke.jpg" alt="welfare">
                <h2>Iyke Solomon</h2>
                <p>Welfare</p>
            </div>

        </div>
        
    </div>

</section>