<div class="profile">
    <span class="noti">
      <i class="fa fa-bell bell"></i>
      <i class="noti-number" id="notifcationCount"></i>
    </span>
    <a href="/dashboard/profile" class="profile-link ">
      <img src="../images/profile.jpg" alt="avatar" class="profile-img" />
    </a>
  </div>