<div id="sideNav" class="side-nav">
  <a href="#" class="close-btn off" onclick="closeNav()">&times;</a>

  <ul>
    <a href="/dashboard" class="nav-btn active">
      <li>
        <i class="fa fa-file"></i>
        Dashboard
      </li>
    </a>

    <a href="/dashboard/inbox" class="nav-btn"
      ><li><i class="fa fa-envelope"></i>Inbox</li></a
    >
    <a href="/dashboard/profile" class="nav-btn"
      ><li><i class="fa fa-user-circle"></i>Profile</li></a
    >
    <a href="/dashboard/caregiver" class="nav-btn"
      ><li><i class="fa fa-medkit"></i>Caregiver</li></a
    >
    <a href="/dashboard/settings" class="nav-btn"
      ><li><i class="fa fa-cog"></i>Settings</li></a
    >
    <hr>
    <a href="/signout" class="logout nav-btn"
      ><li><i class="fa fa-sign-out"></i>Log Out</li></a
    >
  </ul>
</div>
