  <!-- user.fullnamer  -->
<section class="hero">
    <h2>
        Welcome, 
        <!-- user's name -->
    </h2>
    <div class="badges-row">
        <div class="badges">
        <p class="comment">Total number of caregivers</p>
        <p class="num" > 10,000</p>
        </div>
        <div class="badges">
            <p class="comment">Available number of caregivers</p>
            <p class="num" > 6,000</p>

        </div>
        <div class="badges">
            <p class="comment">Unavailable number of caregivers</p>
            <p class="num" > 4,000</p>
        </div>
    </div>
</section>

<!-- using json object to map the data from the server on get -->