@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Open+Sans:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  line-height: 4.3rem;
  font-size: 3rem;
  font-family: "Lora", serif;
  font-weight: 600;
  color: #001a41;
}
p {
  line-height: 1.7rem;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
h2 {
  font-size: 2.3rem;
  line-height: 3rem;
  letter-spacing: 2%;
  font-family: "Open Sans", sans-serif;
}
.hero {
  padding: 2rem;
  text-align: center;
}
.hero-img {
  margin-top: 2rem;
}
.container {
  background-color: #49c255;
  padding: 2rem;
}
.col{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-text {
  color: #fff;
}
.container-form {
  background-color: #fff;
  border-radius: 15px;
  padding: 2rem 1rem 2.75rem 1rem;
  margin: 2rem 0 0 1rem;
}
.container-form h2 {
  color: #49c255;
}
.container-form p {
  color: #5d5f5b;
}
button {
  float: right;
  background-color: #49c255;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
}
input {
  width: 100%;
  border: 2px solid #767873;
  border-radius: 10px;
  padding: 1rem 0 1rem 3rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #767873;
}
i{
  pointer-events: none;
}
textarea {
  width: 100%;
  border: 2px solid #767873;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #767873;
  padding: 1rem;
}
.input-icon i {
  position: absolute;
}
.input-icon {
  width: 100%;
  margin-bottom: 10px;
}
.container-icon {
  padding: 0;
  min-width: 50px;
}
.container-text p {
  padding-left: 3rem;
  padding-top: 1rem;
}

.icon {
  padding: 10px;
  color: #5d5f5b;
  min-width: 50px;
}
footer {
  background-color: #001a41;
  color: #fff;
}
.footer {
  padding: 5rem 5rem 0 5rem;
}
.footer-items {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.4rem;
}
.footer-link {
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 0.9rem;
}
.footer-img,
.footer-list {
  margin-top: 2rem;
}
.footer-link:hover {
  color: rgb(22, 138, 153);
  font-weight: bold;
}
.footer-img-text {
  font-size: 0.75rem;
  margin-top: 4rem;
  border-top: 1px solid white;
  bottom: 0;
  text-align: right;
  padding: 1rem;
}
.footer-logo {
  padding-left: 0.5rem;
}

.fa {
  padding: 15px;
  font-size: 1.9rem;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-linkedin,
.fa-apple {
  color: white;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover {
  color: rgb(22, 138, 153);
}
.apple {
  width: 80%;
  padding: 0.5rem;
}
.google-play {
  width: 80%;
}
@media screen and (min-width: 560px) {
  .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media screen and (min-width: 800px) {
 
  #icon {
    display: hidden;
  }
  .row {
    display: flex;
  }
  .col {
    width: 100%;
  }
  h1 {
    font-size: 3.75rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  textarea {
    margin-bottom: 2rem;
  }
  .hero {
    padding: 10rem 6rem;
  }
  .hero-img {
    margin-left: 4rem;
  }
  .container {
    padding: 3rem 5rem;
  }
  .container-form {
    padding: 3rem 4rem;
  }
  .footer-list {
    width: 100%;
  }
  .footer-img {
    right: 0;
    width: 100%;
  }
  .footer-items li {
    padding-bottom: 2rem;
  }
  .apple {
    width: 40%;
  }
  .google-play {
    width: 45%;
  }
}
@media screen and (max-width: 890px) {
  
  .footer-logo {
    margin-top: 1rem;
  }
}
