@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Open+Sans:wght@400;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}


img{
    max-width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 4rem;
}
h1, h2, h3{
    font-family: 'Lora', serif;
}
.hamburger{
    margin-top: 1rem;
    margin-left: 5rem;
    display: block;
    cursor: pointer;    
}

.nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    align-items: center;
}

.input-icon i{
    position: absolute;
    padding: .7rem;
}
.input-icon{
    margin-top: 1rem;
}
input{
    padding: .7rem 0;
    padding-right: 2rem;
    padding-left: 3rem;
    width: 100%;
    background: #F1F3F2;
    border-radius: 8px;
    font-size: 1.2rem;
    border: none;
}
.profile{
    margin-top: 1rem;
    display: flex;
}
.profile i{
    margin: 2rem 2rem 0 2rem;
}
.profile img{
    box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}
.align{
    padding: 1rem 0;
    justify-content: right;
    padding-right: 1.5rem;
    
}
.col{
    margin-left: 3rem;
    display: flex;   
}

.col i{
    margin: 1.1rem 1rem;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 7rem;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: #001A41;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }

  .sidenav a:hover{
    color: #001A41;
    background-color: #F1F3F2;
    border-radius: 0px 8px 8px 0px;
    padding: 1rem;
  }
  .active{
    background-color: #F1F3F2;
    border-radius: 0px 8px 8px 0px;
    color: #001A41;
    margin-right: .7rem;
    padding: 1rem;

  }
  .sidenav-list{
      padding: 1rem;
  }
  .sidenav-list a{
      color: #fff;
  }

  
  .sidenav-list i, .active i{
      color: white;
      margin-top: 1rem; 
      position: absolute;
  }
  .sidenav-list i:hover, .active i:hover{
    color: #001A41;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .logout{
      margin-top: 5rem;
      border-top: 1px solid #F1F3F2;
      padding: 2rem;
  }
  .hero{
      padding: 1rem;
  }
  .badges{
    background: #FFFFFF;
    opacity: 0.8;
    box-shadow: 0px 9px 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #002E68;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    padding: 3rem;
    margin-bottom: 2rem;
  }
  
  .row{
      display: flex;
  }
  .caregivers{
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px; 
  }
  table{
      width: 100%;
  }
  .star{
      color: goldenrod
  }
  
  .avatar{
      display: flex;
      margin-top: 1rem;
  }
  tr a{
    font-weight: 400;
    font-size: .4rem;
    color: #FFFFFF;
    text-decoration: none;
    background: #28A63D;
    border-radius: 8px;
    padding: .3rem .1rem;
    
  }
  tr a:hover{
      color:#002E68;
  }
  
  
  th{
      color:#002E68;
      font-weight: 600;
      font-size: 1rem;
  }
  td{
      font-size: .8rem;

  }
  .avatar-text{
      color:#002E68;
  }
  td, th{
      border-bottom: 1px solid #DFE0EB;
  }
  .footer{
      justify-content: right;
      display: flex;
  }
  .footer i{
      margin-top: 1.2rem;
      margin-left: 1rem;
      color: #002E68;
  }
  .footer p{
      color: #9FA2B4;
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {


  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
@media screen and (min-width: 1150px){
    .sidenav {
        height: 100%;
        width: 300px;
        position: fixed;
        z-index: 1;
        top: 7rem;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        background-color: #001A41;
      }
      main{
        margin-left: 300px;
      }
      
}
@media screen and (min-width: 800px){
    .badges-row{
        display:flex;
    }
    .badges + .badges{
      margin-left: 3rem;
    }
    .avatar img{
        margin-right: 2rem;
        }
    .nav-input{
            display: none;
    }
    input{
        padding-right: 20rem;
        margin-right: 4rem;
    }
   
    nav{
        display: flex;
        justify-content: space-between;
    }
    main{
        padding: 3rem;
    }
    .input-icon{
        margin-left: 6rem;
    }
    td{
        font-size: 1rem;
    }
    tr a{
        padding: .5rem .75rem;
        margin-right: 2rem;
        line-height: 14px; 
        letter-spacing: 0.2px;
        font-size: 14px;
    }
    th{
        text-align: left;
    }
    table{
        width: 100%;
        overflow-x: auto;
    }
}
@media screen and (max-width: 800px){
    .nav-form{
        display: none;
    }
}