
@media screen and (max-width:560px){
    .footer{
        width: 100%;
        padding: 0;
    }
    .footer-container{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat 4rem;
        padding: 2rem 2rem 0;
    }
    .footer-icon{
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-list{
        padding: 0 0 0 1rem;
    }
    .footer-list > p, .footer-link{
        font-size: 1.5rem;
    }
    .footer-list > p{
        padding: 0 0 10px;
        opacity: .5;
    }
    .footer-items > li{
        margin: 15px 0;
    }
    .footer-info{
        grid-column: 1/2;
    }
    .footer-legal{
        grid-column: 2/3;
    }
    .footer-app{
        grid-column: 1/3;
    }
    .fa{
        font-size: 1.5rem !important;
        padding: 0;
    }
    .services-badges{
        column-count: 1.5;
    }
    .hamburger{
        margin-top: 1rem;
    }
    .footer-img-text{
        font-size: .8rem;
        text-align: center;
    }
}
.footer-img-text{
    font-size: .8rem;
    text-align: center;
}
