@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Open+Sans:wght@400;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: auto;
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    
}
main{
    display: flex;
    align-content: center;
    justify-content: center;
}
  
nav{
    display: flex;
    justify-content: space-between;

}
h1{
    text-align: center;
    font-family: 'Lora', sans-serif;
    font-size: 2.6rem;
    line-height: 3.3rem;
    padding: 2rem 0;

}
  
  /* Full-width input fields */
  input {
    width: 100%;
    padding: 1rem 3rem;
    margin: 5px 0 22px 0;
    background: #fff;
    font-size: 1.1rem;
    border: 1px solid #767873;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  input:focus {
    background-color: #ddd;
    outline: none;
  }
  .input-icon i{
      position: absolute;
      margin: 1.5rem 0rem 1.5rem 1.5rem;
      color: #767873;
      pointer-events: none;
  }
  
  /* Sign-in button */
  .signin-btn {
    background-color: #28A63D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
    width: 100%;
    
  }
  .link{
    color: #767873;
    margin-bottom: 2rem;
  }
  .link:hover{
    color: #4e81ee;
  }
  /* Sign-in button */
  .signup-btn{
    padding: 14px 20px;
    margin: 8px;
    background-color: white;
    cursor: pointer;
    width: 100%;
    border: 1px solid #04aa6d;
  }
  button{
font-size: 1.2rem;
  }
  button:hover {
    opacity: 1;
  }
  .google-btn{
    border: 1px solid #767873;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    color: #1A1C19;
    padding: 1rem 4rem;
    cursor: pointer;

  }
  .google-icon p{
      line-height: 18px;
  }
  .google-icon i{
      position: absolute;
      padding: .6rem 1rem;
  }
  .terms{
      display: flex;
      padding: 0;
      margin: 0;
      margin-left: -8rem;
      width: 100%;
  }
  .terms label{
      margin-left: -8rem;
  }

  
  i{
      width: 100%;
  }
  .fa-google{
    color: #21c05a;
  }
  @media screen and (min-width: 800px) {
    .google-btn{
      padding: 1rem 7rem;
    }
    .google-icon {
      padding: .6rem 3rem;
    }
    
  }
  .google-img{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
  .google-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .google-icon{
    text-decoration: none;
  }
