@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Open+Sans:wght@400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}


nav {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
}
.signin-container{
  position: absolute;
  right: 2rem;
}
h1 {
  text-align: center;
  font-family: "Lora", sans-serif;
  font-size: 2.6rem;
  line-height: 3.3rem;
  padding: 0 0 1rem;
}


main {
  width: 30vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form{
  width: 100%;
}
/* Full-width input fields */
input {
  width: 100%;
  padding: 1rem 3rem;
  margin: .7rem 0;
  display: inline-block;
  background: #fff;
  font-size: 1.2rem;
  border: 1px solid #767873;
  box-sizing: border-box;
  border-radius: 5px;
}
.input-icon{
  position: relative;
}

input:focus {
  border-color: #28a63d;
  outline: none;
}
.input-icon i {
  position: absolute;
  left: 1.7rem;
  top: 2rem;
  color: #767873;
  pointer-events: none;
}

/* Sign-up button */
.signup-btn {
  background-color: #28a63d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
/* Sign-in button */
.signin-btn {
  padding: 14px 20px;
  margin: 8px;
  background-color: white;
  cursor: pointer;
  width: 100%;
  border: 1px solid #04aa6d;
}
button {
  font-size: 1.2rem;
}
button:hover {
  opacity: 1;
}
.google-btn {
  border: 1px solid #767873;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  color: #1a1c19;
  padding: 1rem 4rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.google-icon {
  text-decoration: none;
}
.google-icon i {
  position: absolute;
  padding: 0.6rem 1rem;
}
.terms {
  display: flex;
  width: 100%;
}
.terms label {
  /* margin-left: -4rem; */
  text-align: justify;
  padding: .5rem;
}

i {
  width: 100%;
}
.fa-google {
  color: #4e81ee;
}
.agreement{
  width: 1.3rem;
  height: 1.3rem;
}

@media screen and (min-width: 800px) {
  .google-btn {
    padding: 1rem 7rem;
  }
  .google-icon i {
    padding: 0.6rem 3rem;
  }
  .terms label {
    /* margin-left: -8rem; */
  }
  .terms {
    /* margin-left: -8rem; */
  }
}
.google-img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
