<%- include ('./components/dash-header.ejs', {styles: "/styles/dash.css"}) -%>
<main>
    <%- include ('./components/sidebar.ejs') -%>
    <%- include ('./profile-components/data-form.ejs') -%>
</main>