.off {
  display: none;
}
hr {
  border: 1px solid #f1f3f2;
  border-top: none;
  border-left: none;
  border-right: none;
}
.side-nav {
  position: fixed;
  top: 13vh;
  height: 88vh;
  width: 20%;
  transition: 0.5s;
  padding-top: 60px;
  background-color: #001a41;
}

ul {
  list-style: none;
}
.nav-btn {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  display: block;
  transition: 0.3s;
  padding: 1rem 1rem;
  margin: 6% 0;
}

.nav-btn:hover {
  color: #001a41;
  background-color: #f1f3f2;
  border-radius: 0px 8px 8px 0px;
  margin-right: 2rem;
}
.active {
  background-color: #f1f3f2;
  color: #001a41;
  border-radius: 0px 8px 8px 0px;
  margin-right: 1rem;
  padding: 1rem;
}
.active i {
  color: #001a41;
}

.logout {
  margin-top: 3rem;
  padding: 1rem;
}
.fa{
    margin-right: 1rem;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #fff;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
