<section class="other-section">
    <h3>Caregivers</h3>
    <div class="caregivers">
        
        <div class="row align">
            <div class="col">
                <i class="fa fa-sort"></i>
            <p>Sort</p>
            <!-- sort fuction  -->
            </div>

            <div class="col">
            <i class="fa fa-filter"></i>
            <p>Filter</p>
            <!-- filter function -->
            </div>
        </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Rating</th>
                <th colspan="2" class="left">Availability</th>
            </tr>
            <tr>
                <td class="avatar avatar-text">
                    <img src="/images/leslie.jpg" alt="leslie-alexander">
                    Leslie Alexander
                </td>
                <td class="avatar-text">
                    Lagos
                </td>
                <td>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                </td>
                <td class="avatar-text">Available</td>
                <td><a href="">View Profile</a>
                <i class="fa fa-ellipsis-v"></i></td>
            </tr>
            <tr>
                <td class="avatar avatar-text">
                    <img src="/images/devon.jpg" alt="devon">
                    Devon Lane
                </td>
                <td class="avatar-text">
                    Abuja
                </td>
                <td>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star"></i>
                </td>
                <td class="avatar-text">Available</td>
                <td><a href="">View Profile</a>
                <i class="fa fa-ellipsis-v"></i></td>
            </tr>
            <tr>
                <td class="avatar avatar-text">
                    <img src="/images/floyd.jpg" alt="floyd">
                    Floyd Miles
                </td>
                <td class="avatar-text">
                    Ibadan
                </td>
                <td>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                </td>
                <td class="avatar-text">Available</td>
                <td><a href="">View Profile</a>
                <i class="fa fa-ellipsis-v"></i></td>
            </tr>
            <tr>
                <td class="avatar avatar-text">
                    <img src="/images/bessie.jpg" alt="bessie">
                    Bessie Cooper
                </td>
                <td class="avatar-text">
                    Kano
                </td>
                <td>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </td>
                <td class="avatar-text">Available</td>
                <td><a href="">View Profile</a>
                <i class="fa fa-ellipsis-v"></i></td>
            </tr>
            <tr>
                <td class="avatar avatar-text">
                    <img src="/images/esther.jpg" alt="esther">
                    Esther Howard
                </td>
                <td class="avatar-text">
                    Enugu
                </td>
                <td>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                </td>
                <td class="avatar-text">Available</td>
                <td><a href="">View Profile</a>
                <i class="fa fa-ellipsis-v"></i></td>
            </tr>
            <tr>
                <td class="avatar avatar-text">
                    <img src="/images/jane.jpg" alt="jane">
                    Jane Cooper
                </td>
                <td class="avatar-text">
                    Jos
                </td>
                <td>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </td>
                <td class="avatar-text">Available</td>
                <td><a href="">View Profile</a>
                <i class="fa fa-ellipsis-v"></i></td>
            </tr>
            <tr>
                <td class="avatar avatar-text">
                    <img src="/images/jerome.jpg" alt="jerome">
                    Jerome Bell
                </td>
                <td class="avatar-text">
                    Kwara
                </td>
                <td>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star"></i>
                </td>
                <td class="avatar-text">Available</td>
                <td><a href="">View Profile</a>
                <i class="fa fa-ellipsis-v"></i></td>
            </tr>
            
            <tr>
                <td class="avatar avatar-text">
                    <img src="/images/cody.jpg" alt="cody">
                    Cody Fisher
                </td>
                <td class="avatar-text">
                    Kaduna
                </td>
                <td>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </td>
                <td class="avatar-text">Available</td>
                <td><a href="">View Profile</a>
                <i class="fa fa-ellipsis-v"></i></td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <p>1 of 240</p>
        <i class="fa fa-chevron-left"></i> 
        <i class="fa fa-chevron-right"></i>
        <!-- an onclick function  to bring the next page -->
    </div>
</section>