<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
      >&times;</a
    >
    <div class="active">
      <i class="fa fa-file"></i>
      <a href="/user/dashboard/">Dashboard</a>
    </div>
    <div class="sidenav-list">
      <i class="fa fa-envelope"></i>
      <a href="/user/dashboard/inbox">Inbox</a>
    </div>
    <div class="sidenav-list">
      <i class="fa fa-user-circle"></i>
      <a href="/user/dashoard/profile">Profile</a>
    </div>
    <div class="sidenav-list">
      <i class="fa fa-medkit"></i>
      <a href="/user/dashoard/caregiver">Caregivers</a>
    </div>
    <div class="sidenav-list">
      <i class="fa fa-cog"></i>
      <a href="/user/dashoard/settings">Settings</a>
    </div>
    <div class="sidenav-list logout">
      <i class="fa fa-sign-out"></i>
      <a href="/user/dashboard/signout">Log Out</a>
    </div>
  </div>