<section class="hero">
    <h2>
        Welcome, Theresa
        <!-- user's name -->
    </h2>
    <div class="badges-row">
        <div class="badges">
        <p>Total number of caregivers</p>
        <p>10,000</p>
        </div>
        <div class="badges">
            <p>Available number of caregivers</p>
            <p>6,000</p>

        </div>
        <div class="badges">
            <p>Unavailable number of caregivers</p>
            <p>4,000</p>
        </div>
    </div>
</section>

<!-- using json object to map the data from the server on get -->