<div class="align">
  <h1>HEALTH</h1>
</div>
<section class="blog-post">
  <div class="row">
    <div class="badges3">
      <img src="/images/happy.jpg" alt="happy-woman" />
      <div class="badges3-text">
        <p class="badges3-date">10 Jun, 2021</p>
        <p class="badges3--text">
          How to keep aging parents happy during this pandemic
        </p>
        <a href="#">Read More</a> <span>&#8594;</span>
      </div>
    </div>

    <div class="badges3">
      <img src="../images/apple.jpg" alt="apple" />
      <div class="badges3-text">
        <p class="badges3-date">15 Oct, 2021</p>
        <p class="badges3--text">
          Corona virus: It's effects on the elderly ones.
        </p>
        <a href="#">Read More</a> <span>&#8594;</span>
      </div>
    </div>
    <div class="badges3">
      <img src="../images/health-care.jpg" alt="treatment" />
      <div class="badges3-text">
        <p class="badges3-date">22 Feb, 2021</p>
        <p class="badges3--text">Eating healthy to keep fit and live longer</p>
        <a href="#">Read More</a> <span>&#8594;</span>
      </div>
    </div>
  </div>
</section>
