<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/forget.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/scripts/forgot.js" defer></script>
    <title>Easy Care ng</title>
</head>
<body>
    <div class="main">
        <a href="/login" class="login-link"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back to log in</a>
        <div class="body">
            <h1 class="title">Forgot your password?</h1>
            <p class="comment">
                Don't fret! Just type in your email and we will send you a code to reset your password!
            </p>

            <form  id="form">
                <label for="mail">Your Email</label>
                <input type="mail" required id="mail" placeholder="Bruce@wayne.com" class="mail">
                <button type="submit" value="submit" class="submit">Recover Password</button>
            </form>
            <%- include ('./status.ejs', {image: "/images/cancel.png", id: "fail"}) -%>
      <%- include ('./status.ejs', {image: "/images/Vector.png", id: "success"}) -%> 
        </div>
    </div>
</body>
</html>